[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
matplotlib = "*"
streamlit = "*"
streamlit-webrtc = "*"
pandas = "*"
pdf2image = "*"
tabula-py = "*"

[dev-packages]

[requires]
python_version = "3.8"
